<!-- <div class="content center-this">
    <a href="/user/upload-page"><button class="glow-on-hover" type="button">UPLOAD IMAGES</button> </a>
</div> -->

<br>
<h1 class="text-center text-monospace">PUBLIC IMAGES</h1>

<div class="card bg-transparent border-0 p-0">

    
    <% for(let i = 0 ; i < images.length ; i++){ %> 
        <% if(images[i].privacy == false){ %> 

            <!-- CARD -->
            <a href="#modal-for-<%= images[i].id %>" class="text-decoration-none text-white">

                <div class="w-lg-450 mw-full d-md-inline-block">
                    <div class="card p-0 shadow text-center">
                        <img src="<%= images[i].location %>" class="img-fluid w-full rounded-top h-250" alt="Gallery-Image">
                        <div class="content">

                            <div class="d-flex justify-content-between">
                                <h2 class="content-title font-size-24 font-weight-bold text-monospace">
                                    <%= images[i].title %>
                                </h2>
                                <span class="pt-10 font-size-12">
                                    Uploaded by <strong><%= images[i].user.name.toUpperCase() %></strong>
                                </span>
                            </div>

                            <div class="p-10 pl-0 pt-5 d-flex justify-content-between" >
                                <span class="text-muted text-left w-150 overflow-hidden">
                                <i class="far fa-clock" aria-hidden="true"></i> <%= new Date(images[i].createdAt).toDateString().split(/ (.+)/)[1]  %> 
                                </span>
                                <!-- <span class="badge"> 
                                    <i class="fa fa-heart text-danger mr-5" aria-hidden="true"></i> 0 likes   
                                </span> -->
                                <% if(locals.user && locals.user.id == images[i].user._id){ %> 
                                    <a href="/user/destroy/<%= images[i].id %>" class="badge badge-danger">
                                        <i class="far fa-trash-alt" aria-hidden="true"></i> DELETE
                                    </a>
                                <% } %> 
                            </div>
                        </div>
                        <span class="badge badge-success position-absolute top-0 right-0 m-10">PUBLIC</span>
                    </div>
                </div>
            
            </a>

        <% } %> 
    <% } %> 
                        
</div>