<% for(let i=0 ;i < images.length ; i++){ %>

    <% if(images[i].privacy == false){ %> 
        <div class="modal modal-full ie-scroll-fix" id="modal-for-<%= images[i].id %>" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark-dm h-auto h-lg-full">
                    <a href="#" class="close" role="button" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
    
                                <div class="card d-flex p-0 justify-content-between flex-column flex-lg-row border-0">
                                    <div class="w-full w-lg-three-quarter h-auto h-lg-550  text-center bg-dark-light-dm">
                                        <img src="<%= images[i].location %>"
                                            class="h-auto h-lg-550 w-full w-lg-full bg-dark-light-dm image-fluid" alt="Gallery-image">
                                    </div>
                                    <div class="bg-very-dark-dm bg-light-lm h-auto h-lg-550 w-full w-lg-quarter  overflow-y-auto">
    
                                        <div class="content">
                                            <h2 class="content-title text-monospace">
                                                Comments
                                            </h2>
    
                                            <% for(let j = 0 ; j < images[i].comments.length ; j++){ %> 
    
                                                <div class="font-size-12 d-flex justify-content-between">
                                                    <div>
                                                        <strong class="text-monospace font-size-14"><%= images[i].comments[j].user.name %></strong>
                                                        <br />
                                                        <%= images[i].comments[j].content %> 
    
                                                    </div>
    
                                                    <% if(locals.user && locals.user.id == images[i].comments[j].user.id){ %> 
                                                        <a href="/comments/destroy/<%= images[i].comments[j].id %>" class="align-self-center">
                                                            <i class="far fa-trash-alt text-danger" aria-hidden="true"></i>
                                                        </a>
                                                    <% } %> 
                                                </div>
                                                <hr />
    
                                            <% } %>
    
                                            <form action="/comments/create" method="post">
                                                <div class="form-group">
                                                    <!-- <input type="text" class="form-control" name="content" placeholder="Comment here" required> -->
                                                    <textarea class="form-control form-control-sm" name="content" placeholder="Comment here..." required></textarea>
                                                    <input type="hidden" name="image" value="<%= images[i]._id %>">
                                                    <input class="btn btn-success mt-10 btn-sm" type="submit" value="Add Comment">
                                                  </div>
                                            </form>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

<% } %>

        